.blog-search {
  margin: 40px 0;
  width: 320px;

  form {
    display: flex;
    position: relative;
  }

  &__input {
    padding: 0 50px 0 25px !important;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    border: none;
    height: 60px !important;
  }

  &__btn {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_348_90)'%3E%3Cpath d='M24.5436 22.3388L19.705 17.498C23.3255 12.6597 22.3383 5.80244 17.5 2.18189C12.6617 -1.43865 5.80439 -0.451446 2.18385 4.38686C-1.4367 9.22517 -0.449493 16.0825 4.38881 19.703C8.27534 22.6113 13.6134 22.6113 17.5 19.703L22.3407 24.5437C22.949 25.1521 23.9353 25.1521 24.5436 24.5437C25.1519 23.9354 25.1519 22.9491 24.5436 22.3409L24.5436 22.3388ZM10.9847 18.7687C6.68468 18.7687 3.19884 15.2828 3.19884 10.9828C3.19884 6.68273 6.68468 3.19688 10.9847 3.19688C15.2848 3.19688 18.7706 6.68273 18.7706 10.9828C18.7661 15.2809 15.2829 18.7641 10.9847 18.7687Z' fill='%23BFBFBF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_348_90'%3E%3Crect width='25' height='25' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  @media (max-width: 400px) {
    width: 100%;
  }
}


/**************************** Blog item */
.blog-item {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.30);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  &__info {
    width: calc(100% - 380px);
    padding: 30px;

    @media (max-width: 992px) {
      width: 100%;
      order: 2;
      padding: 20px;
    }
  }

  &__media {
    width: 380px;

    img {
      width: 100%;
      border-radius: 0 20px 20px 0;
    }

    @media (max-width: 992px) {
      width: 100%;
      order: 1;

      img {
        border-radius: 20px 20px 0 0;
      }
    }
  }

  &__info-name {
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;

    @media (max-width: 992px) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &__info-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 20px;

    @media (max-width: 992px) {
      font-size: 13px;
    }
  }
}


/**************************** Blog detail */
.blog-detail-title {
  color: #323232;
  margin-top: 20px;
}

.blog-detail {
  margin-top: 50px;
  p {
    &+ol,
    &+ul {
      margin-top: -20px;
      margin-bottom: 30px;
    }
  }

  img {
    float: right;
    border-radius: 20px;
    
    @media (max-width: 767px) {
      width: 100%;
      float: none;
      margin-bottom: 30px;
    }
  }
}