.error-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__title {
    font-size: 300px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 200px;
    }

    @media (max-width: 600px) {
      font-size: 40vw;
    }
  }

  &__text {
    font-size: 40px;
    margin-bottom: 40px;

    @media (max-width: 992px) {
      font-size: 30px;
    }

    @media (max-width: 600px) {
      font-size: 6vw;
      line-height: 1.3;
    }
  }

  &__btn {

  }
}