.programms-text-block {
  position: relative;
  padding-right: 280px;
  padding-bottom: 20px;

  &:after {
    content: '';
    width: 260px;
    height: 446px;
    position: absolute;
    top: -110px;
    right: 0;
    z-index: -1;

    @media (min-width: 993px) {
      background: url('../img/programms-girl.png') no-repeat;
    }

    @media (max-width: 992px) {
      background: url('../img/programms-girl-mobile.png') no-repeat;
      width: 110px;
      height: 272px;
      top: auto;
      bottom: 0;
    }
  }

  &__title {
    margin: 20px 0;
    color: $color-blue;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }

  p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;

    @media (max-width: 992px) {
      font-size: 13px;
    }
  }

  @media (max-width: 992px) {
    padding-right: 130px;
  }
}

.programms-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.programms-col {
  width: calc(100% / 2 - 40px);
  margin: 20px;

  @media (max-width: 992px) {
    width: calc(100% / 1 - 40px);
  }
}

.programms-block {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.30);
  padding: 30px;
  margin-bottom: 40px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__top-name {
    color: $color-red;
    font-size: 35px;
    font-weight: 600;

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }

  &__top-price {
    font-size: 30px;
    font-weight: 600;

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }

  &__subtitle {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }
}

.programms-block-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #323232;
  padding-bottom: 15px;
  margin-bottom: 15px;

  &__name {
    width: calc(100% - 150px);
    padding-right: 20px;
    font-size: 20px;

    @media (max-width: 992px) {
      width: calc(100% - 80px);
      font-size: 15px;
    }
  }

  &__price {
    width: 150px;
    font-size: 25px;
    font-weight: 600;
    display: inline-flex;
    justify-content: flex-end;

    @media (max-width: 992px) {
      font-size: 20px;
      width: 80px;
    }
  }
}