.accordion-block {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.10);
  margin-bottom: 40px;

  &__btn {
    padding: 22px 30px;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease;

    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_231_14)'%3E%3Cpath d='M17.5 0C14.0388 0 10.6554 1.02636 7.77753 2.94928C4.89967 4.87221 2.65665 7.60533 1.33212 10.803C0.00758251 14.0007 -0.338976 17.5194 0.336265 20.9141C1.01151 24.3087 2.67822 27.427 5.12564 29.8744C7.57306 32.3218 10.6913 33.9885 14.0859 34.6637C17.4806 35.339 20.9993 34.9924 24.197 33.6679C27.3947 32.3434 30.1278 30.1003 32.0507 27.2225C33.9736 24.3446 35 20.9612 35 17.5C34.995 12.8603 33.1496 8.41197 29.8688 5.13117C26.588 1.85037 22.1398 0.00501824 17.5 0ZM17.5 32.0833C14.6157 32.0833 11.7962 31.228 9.39794 29.6256C6.99972 28.0232 5.13054 25.7456 4.02676 23.0808C2.92299 20.416 2.63419 17.4838 3.19689 14.6549C3.75959 11.826 5.14852 9.22754 7.18803 7.18803C9.22755 5.14851 11.8261 3.75958 14.6549 3.19688C17.4838 2.63418 20.4161 2.92298 23.0808 4.02676C25.7456 5.13054 28.0232 6.99972 29.6256 9.39793C31.228 11.7962 32.0833 14.6157 32.0833 17.5C32.0791 21.3664 30.5413 25.0733 27.8073 27.8073C25.0733 30.5413 21.3664 32.0791 17.5 32.0833ZM24.7917 17.5C24.7917 17.8868 24.638 18.2577 24.3645 18.5312C24.091 18.8047 23.7201 18.9583 23.3333 18.9583H18.9583V23.3333C18.9583 23.7201 18.8047 24.091 18.5312 24.3645C18.2577 24.638 17.8868 24.7917 17.5 24.7917C17.1132 24.7917 16.7423 24.638 16.4688 24.3645C16.1953 24.091 16.0417 23.7201 16.0417 23.3333V18.9583H11.6667C11.2799 18.9583 10.909 18.8047 10.6355 18.5312C10.362 18.2577 10.2083 17.8868 10.2083 17.5C10.2083 17.1132 10.362 16.7423 10.6355 16.4688C10.909 16.1953 11.2799 16.0417 11.6667 16.0417H16.0417V11.6667C16.0417 11.2799 16.1953 10.909 16.4688 10.6355C16.7423 10.362 17.1132 10.2083 17.5 10.2083C17.8868 10.2083 18.2577 10.362 18.5312 10.6355C18.8047 10.909 18.9583 11.2799 18.9583 11.6667V16.0417H23.3333C23.7201 16.0417 24.091 16.1953 24.3645 16.4688C24.638 16.7423 24.7917 17.1132 24.7917 17.5Z' fill='%23323232'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_231_14'%3E%3Crect width='35' height='35' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 35px;
      height: 35px;

      @media (max-width: 992px) {
        width: 25px;
        height: 25px;
      }
    }

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }
  
  &__content {
    display: none;
    padding: 0 30px 25px 30px;
  }

  &.is-opened &__btn {
    color: $color-red;

    &:after {
      background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_376_3617)'%3E%3Cpath d='M12.8773 12.3743C10.4299 14.8217 8.76317 17.9399 8.08793 21.3346C7.41269 24.7292 7.75925 28.2479 9.08378 31.4456C10.4083 34.6433 12.6513 37.3764 15.5292 39.2994C18.4071 41.2223 21.7905 42.2487 25.2517 42.2487C28.7128 42.2487 32.0963 41.2223 34.9742 39.2994C37.852 37.3764 40.095 34.6433 41.4196 31.4456C42.7441 28.2479 43.0907 24.7292 42.4154 21.3346C41.7402 17.9399 40.0735 14.8217 37.626 12.3743C34.3417 9.09704 29.8914 7.25649 25.2517 7.25649C20.6119 7.25649 16.1616 9.09703 12.8773 12.3743ZM35.5636 35.0606C33.5241 37.1001 30.9256 38.4891 28.0967 39.0518C25.2678 39.6145 22.3356 39.3257 19.6709 38.2219C17.0061 37.1181 14.7285 35.2489 13.1261 32.8507C11.5236 30.4525 10.6683 27.633 10.6683 24.7487C10.6683 21.8643 11.5236 19.0448 13.1261 16.6466C14.7285 14.2484 17.0061 12.3792 19.6709 11.2754C22.3356 10.1716 25.2678 9.88283 28.0967 10.4455C30.9256 11.0082 33.5241 12.3972 35.5636 14.4367C38.2946 17.1737 39.8284 20.8822 39.8284 24.7487C39.8284 28.6151 38.2946 32.3236 35.5636 35.0606ZM30.4077 19.5927C30.6811 19.8662 30.8348 20.2371 30.8348 20.6239C30.8348 21.0106 30.6811 21.3816 30.4077 21.6551L27.3141 24.7487L30.4077 27.8422C30.6811 28.1157 30.8348 28.4867 30.8348 28.8734C30.8348 29.2602 30.6812 29.6311 30.4077 29.9046C30.1342 30.1781 29.7632 30.3318 29.3765 30.3318C28.9897 30.3318 28.6188 30.1781 28.3453 29.9046L25.2517 26.811L22.1581 29.9046C21.8846 30.1781 21.5137 30.3318 21.1269 30.3318C20.7401 30.3318 20.3692 30.1781 20.0957 29.9046C19.8222 29.6311 19.6685 29.2602 19.6685 28.8734C19.6685 28.4867 19.8222 28.1157 20.0957 27.8422L23.1893 24.7487L20.0957 21.6551C19.8222 21.3816 19.6685 21.0106 19.6685 20.6239C19.6685 20.2371 19.8222 19.8662 20.0957 19.5927C20.3692 19.3192 20.7401 19.1655 21.1269 19.1655C21.5137 19.1655 21.8846 19.3192 22.1581 19.5927L25.2517 22.6863L28.3453 19.5927C28.6188 19.3192 28.9897 19.1655 29.3765 19.1655C29.7632 19.1655 30.1342 19.3192 30.4077 19.5927Z' fill='%23FF7884'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_376_3617'%3E%3Crect width='35' height='35' fill='white' transform='translate(0.50293 24.7487) rotate(-45)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-position: center;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}