@font-face{
  font-family: "Circe";
  src: url("../fonts/4e725ea1d4d5c6b006a034532bd26ef0.eot");
  src: url("../fonts/4e725ea1d4d5c6b006a034532bd26ef0.eot?#iefix")format("embedded-opentype"),
  url("../fonts/4e725ea1d4d5c6b006a034532bd26ef0.woff")format("woff"),
  url("../fonts/4e725ea1d4d5c6b006a034532bd26ef0.woff2")format("woff2"),
  url("../fonts/4e725ea1d4d5c6b006a034532bd26ef0.ttf")format("truetype"),
  url("../fonts/4e725ea1d4d5c6b006a034532bd26ef0.svg#Circe W08 Bold")format("svg");
  font-weight: 600;
  font-style:normal;
  font-display:swap;
}

@font-face{
  font-family: "Circe";
  src: url("../fonts/fa68b98100d5cc78602a75e0d22313ac.eot");
  src: url("../fonts/fa68b98100d5cc78602a75e0d22313ac.eot?#iefix")format("embedded-opentype"),
  url("../fonts/fa68b98100d5cc78602a75e0d22313ac.woff")format("woff"),
  url("../fonts/fa68b98100d5cc78602a75e0d22313ac.woff2")format("woff2"),
  url("../fonts/fa68b98100d5cc78602a75e0d22313ac.ttf")format("truetype"),
  url("../fonts/fa68b98100d5cc78602a75e0d22313ac.svg#Circe W08 Extra Bold")format("svg");
  font-weight: 900;
  font-style:normal;
  font-display:swap;
}

@font-face{
  font-family: "Circe";
  src: url("../fonts/4fa3a31b7e8f2ac00e93c15456042df6.eot");
  src: url("../fonts/4fa3a31b7e8f2ac00e93c15456042df6.eot?#iefix")format("embedded-opentype"),
  url("../fonts/4fa3a31b7e8f2ac00e93c15456042df6.woff")format("woff"),
  url("../fonts/4fa3a31b7e8f2ac00e93c15456042df6.woff2")format("woff2"),
  url("../fonts/4fa3a31b7e8f2ac00e93c15456042df6.ttf")format("truetype"),
  url("../fonts/4fa3a31b7e8f2ac00e93c15456042df6.svg#Circe W08 Extra Light")format("svg");
  font-weight: 300;
  font-style:normal;
  font-display:swap;
}

@font-face{
  font-family: "Circe";
  src: url("../fonts/3693583a1c4f5ae1d74e5670a642926a.eot");
  src: url("../fonts/3693583a1c4f5ae1d74e5670a642926a.eot?#iefix")format("embedded-opentype"),
  url("../fonts/3693583a1c4f5ae1d74e5670a642926a.woff")format("woff"),
  url("../fonts/3693583a1c4f5ae1d74e5670a642926a.woff2")format("woff2"),
  url("../fonts/3693583a1c4f5ae1d74e5670a642926a.ttf")format("truetype"),
  url("../fonts/3693583a1c4f5ae1d74e5670a642926a.svg#Circe W08 Regular")format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}